<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add File</title>
  </head>
  <body>
    <form
      action="/files?folderName=<%= folderName %>"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="form-group">
        <input type="file" class="form-control-file" name="uploaded_file" />
        <input
          type="text"
          class="form-control"
          placeholder="Extra Info"
          name="extraInfo"
        />
        <input type="submit" value="Upload" class="btn btn-default" />
      </div>
    </form>
  </body>
</html>
