<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Folder</title>
  </head>
  <body>
    <h1>Create New Folder</h1>
    <%- include('partials/errors.ejs') %>
    <form action="/folder" method="post">
      <label for="folder"> Enter Folder Name: </label>
      <input
        type="text"
        name="folderName"
        id="folder"
        placeholder="folder name"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
